body {
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  text-align: center;
  font-size: 1.1em;
}

.container p span {
  background: palegreen;
  padding: 0.5em
}

button, input {
  padding:20px;
  font-size: 1em;
  text-align: center;
}

input {
  width: 400px;
}
